<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  
  <body>
    <h1>Pig Latinizer Generator</h1>
    <img src=https://i.pinimg.com/236x/b1/17/8a/b1178afe6c24d9a36cb5dfcfed630e14--baby-piglets-micro-piglets.jpg>

    <form method="POST" action="/results">
    
    <label for="phrase">Enter your phrase:</label>
    <input type="name" name="user_phrase" id="phrase">
    <input type="submit" name="submit" value="submit">

    </form>
  </body>
</html>